useDynLib(rrcovNA)

## Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends

importFrom(stats4, plot, summary)
importFrom(methods, show)
import(
  robustbase,
  rrcov,
  norm
)
